*{
    font-family: 'Poppins', sans-serif;
}
.navbar-main{
    background-color: red;
}

.main-section{
    /*clock wise */
    /* top right bottom left */
    /* top   style or color width =====botttom  */
    /* border-color:black red   ;
    border-width:5px 5px ;
    /*          top bottom left right      */
    /* border-style:solid dashed;  */
}

.section-one{
    background-color: grey;
    height:50px;
    /* border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color:black; */
    /* shorthand propery */
    border:5px solid black;
    color:white;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* shorthand propery */
    border-radius: 10px;
}

.user-image{
    width:200px;
    border:1px solid black;
    border-radius: 50%;
    /* margin:30%; */
}

.main-section-2{
    border:5px solid black;
    width: 300px;
    /* height:600px; */
    /*  margin-left:10px;
    margin-top:100px; */
    /* margin-right:100px; */
    /* margin-bottom:2000px; */
    /* clocl wise */
    /* margin:25px 50px 75px 100px; */
    /* margin: 25px 50px 75px; */
    margin:auto;
    /* padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px; */
    /* padding:10px 20px 30px 40px; */
    padding:25px;
    box-sizing: border-box;
    outline:5px solid green;
    outline-offset: 10px;

}

.myclass{
    /* text-decoration:underline;
    text-decoration-color:aqua ;
    text-decoration-style: solid;
    text-decoration-thickness:5px; */
    text-decoration: underline violet solid 10px;
    text-transform: lowercase;
    /* text-indent: -100px; */
    /* text-shadow: 2px 2px 5px red; */
    /* text-shadow: -3px 5px 6px rgba(255,26,26,0.22);
    transform: rotate(38deg) scale(0.8) skew(-25deg) translate(92px,-68px);
-webkit-transform: rotate(38deg) scale(0.8) skew(-25deg) translate(92px,-68px);
-moz-transform: rotate(38deg) scale(0.8) skew(-25deg) translate(92px,-68px); */
/* filter: blur(1px) hue-rotate(51deg) saturate(216%) opacity(76%);
-webkit-filter: blur(1px) hue-rotate(51deg) saturate(216%) opacity(76%);
-moz-filter: blur(1px) hue-rotate(51deg) saturate(216%) opacity(76%);
background: #ff0000;
background: linear-gradient(90deg,#ff0000 0%, #00ff00 80%);
background: -webkit-linear-gradient(90deg,#ff0000 0%, #00ff00 80%);
background: -moz-linear-gradient(90deg,#ff0000 0%, #00ff00 80%); */

box-shadow: -5px -8px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -5px -8px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px -8px 5px 0px rgba(0,0,0,0.75);


}

p{
    line-height: 20px;
    /* white-space: nowrap; */

}

.font-style{
    /* font: italic small-caps bold 12px/30px Georgia, serif; */
    font-variant: small-caps;

}

h1{
    /* font-variant: small-caps; */
    font-weight:900;
}

.customColor{
    color:darkslateblue;
    text-align:center;
    margin-left:100px;
}