.row{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top:200px;
    gap:50px 100px;
    /* column-gap: 50px;
    row-gap: 50px; */
}
.col{
    padding: 50px;
    background-color: aqua;
    border:1px solid red;
    text-align: center;
}


.row-inline{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}